@model EmployeeViewModel

@inject IDepartmentRepository departmentRepository

@{
    var departments = new SelectList(departmentRepository.GetAll(), "Id", "Name");
}

<div class="form-group">
    <label class="col-form-label" asp-for="Name"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Email"></label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Address"></label>
    <input asp-for="Address" class="form-control" />
    <span asp-validation-for="Address" class="text-danger"></span>
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="DepartmentId"></label>
    <select asp-for="DepartmentId" asp-items="@departments" class="form-control"></select>
    <span asp-validation-for="DepartmentId" class="text-danger"></span>
</div>  

<div class="form-group">
    <label class="col-form-label" asp-for="Age"></label>
    <input asp-for="Age" class="form-control" />
    <span asp-validation-for="Age" class="text-danger"></span>
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Salary"></label>
    <input asp-for="Salary" class="form-control" />
    <span asp-validation-for="Salary" class="text-danger"></span>
</div>

<div class="form-group">
    <label class="control-label" asp-for="Gender"></label><br />
    @foreach (Gender gender in Enum.GetValues(typeof(Gender)))
    {
        <label class="radio-inline">
            <input type = "radio" asp-for="Gender" value = "@gender" />
            @gender
        </label>
    }
</div>

<div class="form-group ">
    <input asp-for="IsActive" class="form-check" />
    <label class="col-form-label" asp-for="IsActive"></label>
    </div>


<div class="form-group">
    <label class="col-form-label" asp-for="HireDate"></label>
    <input asp-for="HireDate" class="form-control" />
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Image"></label>
    <input asp-for="Image" class="form-control" />
</div>



