@model Department

@{
    ViewData["Title"] = "Delete";
}

<h1>Are You Sure To Delete This Department</h1>

<br />

<form asp-action="Delete">

    <partial name="Partial/ReadonlyForm" />"
    <input type="submit" value="Delete" asp-action="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>

