@model Department
@{
    ViewData["Title"] = "Department Edit";
}

<h1>Department Edit</h1>
<br />

<form asp-action="Edit">
    <partial name="Partial/EditableForm" />

    <input type="submit" value="Edit" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-light">Back To List</a>

</form>

